<div class="admin-main-con">
  <div class="col-sm-12">
    <div class="admin_content_body">
      <div class="col-sm-12 col-xs-12">
        <%= link_to 'Add Template', new_template_path, class: 'btn btn-primary', style: 'margin-bottom: 10px;' %>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table  table-striped table-data-con">
            <thead>
              <tr class="info">
                <td>Subject</td>
                <td>Link</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <% @templates.each do |template| %>
                  <tr>
                    <td>
                      <%= template.subject %>
                    </td>
                    <td>
                      <%= template.active_link %>
                    </td>
                    <td>
                      <%= template.body.html_safe %>
                    </td>
                
                    <td>
                      <%= link_to edit_template_path(template) do %>
                          Edit
                      <% end %>
                    </td>
                  </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>