<div class="admin-main-con">
  <div class="col-sm-12">
    <h2>Dashboard</h2>
    <div class="admin_content_body">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4">
            <div class="widget_main">
              <h3 class="user">User</h3>
              <%= link_to users_path, class: "main_url_widget", style: '' do %>
                  <div class="widget_content">
                    <div class="row">
                      <div class="col-sm-6 text-center">
                        <i class="fa fa-users icon-size" aria-hidden="true"></i>
                      </div>
                      <div class="col-sm-6 text-center" style="font-size: 40px;padding-top: 17px;">
                        <%= @users.count %>
                        <%#= @response.parsed_response["main"]["temp"] %>
                        <%#= @response.parsed_response["name"] %>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="widget_main">
              <h3 class="user">User</h3>
              <%= link_to users_path, class: "main_url_widget" do %>
                  <div class="widget_content">
                    <div class="row">
                      <div class="col-sm-6 text-center">

                        <i class="fa fa-users icon-size" aria-hidden="true"></i>
                        <p style="margin: 0">
                          <%#= @response.parsed_response["name"] %>
                        </p>
                      </div>
                      <div class="col-sm-6 text-center" style="font-size: 40px;padding-top: 17px;">
                        <%#= @users.count %>
                        <%#= @response.parsed_response["main"]["temp"] %>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="widget_main">
              <h3 class="airport">Airport</h3>
              <div class="widget_content">
                <div class="row">
                  <div class="col-sm-6 text-center">
                    <i class="fa fa-users icon-size" aria-hidden="true"></i>
                  </div>
                  <div class="col-sm-6 text-center" style="font-size: 40px;padding-top: 17px;">
                    <%= @users.count %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="widget_main">
              <h3 class="aircraft">Aircrart</h3>
              <div class="widget_content">
                <div class="row">
                  <div class="col-sm-6 text-center">
                    <i class="fa fa-plane icon-size" aria-hidden="true"></i>
                  </div>
                  <div class="col-sm-6 text-center" style="font-size: 40px;padding-top: 17px;">
                    <%= @aircrafts.count %>
                    <%#= @open_weather.inspect %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
